<div id="newsletter">
	<h5>Newsletter</h5>
	<form action="//martinschmidli.us13.list-manage.com/subscribe/post?u=64714c5aa6c258433ba501327&amp;id=ddf77c08d8" method="post" class="validate" target="_blank" novalidate>
		<input type="email" value="" name="EMAIL" class="email" placeholder="email address" required>
	    <!-- honeypot -->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true">
		    <input type="text" tabindex="-1" value="">
		</div>
		<input type="submit" value="Subscribe" name="subscribe" class="button submit">
	</form>
</div>