<div id="socialLinks">
	<!-- Facebook -->
    {{#if @site.facebook}}
    <a class="facebook social-link social-link-tw" href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener"></a>
    {{/if}}
	<!-- Twitter -->
    {{#if @site.twitter}}
        <a class="twitter social-link social-link-tw" href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener"></a>
    {{/if}}
	<!-- Instagram -->
	<!-- <a href="" target="_blank" class="instagram"></a> -->
	<!-- Xing -->
	<a href="https://www.xing.com/profile/Martin_Schmidli4" target="_blank" class="xing"></a>
	<!-- Linkedin -->
	<a href="https://www.linkedin.com/in/martin-schmidli-bb911a10a" target="_blank" class="linkedin"></a>
	<!-- RSS -->
	<a href="{{@site.url}}/rss/" target="_blank" class="rss"></a>
</div>