<div id="socialLinks">
	<!-- Facebook -->
	<a href="" target="_blank" class="facebook"></a>
	<!-- Twitter -->
	<a href="" target="_blank" class="twitter"></a>
	<!-- Instagram -->
	<a href="" target="_blank" class="instagram"></a>
	<!-- Xing -->
	<a href="" target="_blank" class="xing"></a>
	<!-- Linkedin -->
	<a href="" target="_blank" class="linkedin"></a>
	<!-- RSS -->
	<a href="{{@blog.url}}/rss/" target="_blank" class="rss"></a>
</div>