{{!< default}}
<main id="author-single" class="main-primo" role="main">
	{{#author}}
	<div id="author"> 
        {{#if profile_image}}
			<div class="author-image" style='background-image: url("{{profile_image}}")'></div>
        {{/if}}	        
        <h6 class="author-name">{{name}}</h6>
        <div class="author-bio">
        	<p>{{bio}}</p>
        </div> 
	</div>
	{{/author}}
</main>