/***** Media Query *****/
$break-big:1300px;
$break-medium:1100px;
$break-small:750px;

/***** Color *****/
$color-text: #6a6c6f;
$color-title: #222222;

$color-theme: #FFDE0C;

$color-grey-bright: #e3e5e7;
$color-grey-medium: #d3d5d7;
$color-grey-dark: #b3b5b7;

/***** Font *****/ 
$font-monteserrat: 'Monteserrat', Arial, sans-serif;
$font-oswald: 'Oswald', Arial, sans-serif;
$font-hind: 'Hind', Arial, sans-serif;